.panel.panel-default.protected-tags-list.js-protected-tags-list
  - if @protected_tags.empty?
    .panel-heading
      %h3.panel-title
        受保护的标记(#{@protected_tags.size})
    %p.settings-message.text-center
      目前没有受保护的标记，用上述形式创建保护标记。
  - else
    - can_admin_project = can?(current_user, :admin_project, @project)

    %table.table.table-bordered
      %colgroup
        %col{ width: "25%" }
        %col{ width: "25%" }
        %col{ width: "50%" }
      %thead
        %tr
          %th 受保护的标记(#{@protected_tags.size})
          %th 最后提交
          %th 允许创建
          - if can_admin_project
            %th
      %tbody
        %tr
          %td.flash-container{ colspan: 4 }
        = render partial: 'projects/protected_tags/protected_tag', collection: @protected_tags, locals: { can_admin_project: can_admin_project}

    = paginate @protected_tags, theme: 'gitlab'
