- page_title '新标签'
- header_title group_title(@group, 'Labels', group_labels_path(@group))

%h3.page-title
  新标签
%hr

= render 'shared/labels/form', url: group_labels_path, back_path: @previous_labels_path
