- environment = local_assigns.fetch(:environment)

- return unless can?(current_user, :read_environment, environment)

= link_to environment_metrics_path(environment), title: '查看指标', class: 'btn metrics-button' do
  = icon('area-chart')
  监控
