- content_for(:title, '拒绝访问')
%img{ :alt => "GitLab Logo", :src => image_path('logo.svg') }
  %h1
    403
.container
  %h3 拒绝访问
  %hr
  %p 您无权访问此页面。
  %p 阅读更多关于 #{link_to "项目权限", help_page_path("user/permissions"), class: "vlink"}
