%h2#usage-ping Usage ping

.bs-callout.clearfix
  %p
    显示用户队列，因为启用了使用ping。发送的数据如下所示。
    要禁用此功能，请访问
    = succeed '。' do
      = link_to '应用程序设置', admin_application_settings_path(anchor: 'usage-statistics')

%pre.usage-data.js-syntax-highlight.code.highlight{ data: { endpoint: usage_data_admin_application_settings_path(format: :html, pretty: true) } }
