.center
  - if @resource.unconfirmed_email.present?
    #content
      %h2= @resource.unconfirmed_email
      %p 点击下面的链接确认您的电子邮件地址。
    #cta
      = link_to '请确认您的电邮地址', confirmation_url(@resource, confirmation_token: @token)
  - else
    #content
      - if Gitlab.com?
        %h2 感谢您注册GitLab！
      - else
        %h2 欢迎您，#{@resource.name}!
      %p 要开始使用，请点击下面的链接确认您的帐户。
    #cta
      = link_to '请确认您的电邮地址', confirmation_url(@resource, confirmation_token: @token)
