- enabled = Gitlab.config.mattermost.enabled

.well
  %p
    此服务允许GitLab用户对此执行常见操作
    项目通过在Mattermost中输入斜杠命令。
    = link_to help_page_path('user/project/integrations/mattermost_slash_commands.md'), target: '_blank', ref: 'noreferrer nofollow noopener' do
      查看文档
      = icon('external-link')
  %p.inline
    设置此服务后，请参阅Slack中的可用命令列表，
    命令
  %kbd.inline /&lt;trigger&gt; help
  - unless enabled || @service.template?
    = render 'projects/services/mattermost_slash_commands/detailed_help', subject: @service

- if enabled && !@service.template?
  = render 'projects/services/mattermost_slash_commands/installation_info', subject: @service
