- enabled = Gitlab.config.mattermost.enabled

.well
  此服务允许GitLab用户对此执行常见操作
  项目通过在Mattermost中输入斜杠命令。
  %br
  在设置此服务后，请通过输入
  %code /&lt;command_trigger_word&gt; help

  - unless enabled
    = render 'projects/services/mattermost_slash_commands/detailed_help', subject: @service

- if enabled
  = render 'projects/services/mattermost_slash_commands/installation_info', subject: @service
